# =====================================
# CORE ML
# =====================================
ultralytics==8.2.0
torch==2.1.2
torchvision==0.16.2
numpy==1.26.4

# =====================================
# IMAGE PROCESSING
# =====================================
opencv-python-headless==4.9.0.80
Pillow==10.2.0

# =====================================
# API
# =====================================
fastapi==0.110.0
uvicorn==0.27.0
python-multipart==0.0.9
pydantic==2.6.4

# =====================================
# FRONTEND
# =====================================
streamlit==1.31.0
requests==2.31.0

# =====================================
# UTILITIES
# =====================================
tqdm==4.66.2
python-dotenv==1.0.1
PyYAML==6.0.1
pandas==2.2.1
matplotlib==3.8.3

# =====================================
# ONNX
# =====================================
onnx==1.15.0
onnxruntime==1.17.1

# =====================================
# MODEL DOWNLOAD
# =====================================
gdown==5.1.0
